:root {
}

.SelectButton {
    background-color: rgb(0, 0, 0);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    aspect-ratio: 1.777778;
    height: 10%;
    font-size: 172%;
    -unity-text-align: middle-center;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.SelectButton:hover,
.SelectButton:active,
.SelectButton:focus {
    background-color: rgb(255, 255, 255);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.Buff {
    background-color: rgb(0, 0, 0);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.Buff:hover,
.Buff:active,
.Buff:focus {
    background-color: rgb(255, 255, 255);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
