:root {
}

.Order {
    background-color: rgb(123, 12, 12);
    aspect-ratio: 1;
    height: 100%;
    -unity-text-align: middle-center;
    font-size: 100%;
    white-space: pre-wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.Disabled {
    visibility: hidden;
}
